*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
}

ul{
list-style: none;
background: indigo;
border-radius: 5px;
}


ul li{
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.favorite li{
    display: block;
}

ul li ul.favorite  {
    width: 100%;
    background: blue;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: lightseagreen;

}

ul li:hover ul.favorite{
    display: block;
    border-radius:  5px; ;
}

.A , .Ab , .N , .T{
    width: 500px;
    border-radius: 15px;
    background-color: rgb(0, 255, 242);
    position: relative;
    left: 500px;;
    top: 250px;

}

.Anfav , .Nofav , .tunfav , .Apfav{
    width: 500px;
    background-color:  rgb(0, 255, 242);
    border: 15px;
    border-radius: 15px;
}

h1{
    color: #fff;
}
.papa{
    position: relative;
    top: 8vh;
    left: 70px;
    height:100vh;
    background-color:black;


}

.mama{
   width: 700px;
   height: 500px;
}

